* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
body{
    background: #FAF8F7;

}
.header__section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 320px;
    width: 100%;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.header__logo__image{
    height: 25px;
    width: 40px;
}

.header__logo__title{
    color: #F7931A;
}

.header__title{
    color: white;
    width: 80%;
}

.header__text{
    color: #FFE9D4;
    width: 90%;
    margin-bottom: 20px;
}

.header__button{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: calc(50% - 110px);
    height: 48px;
    width: 229px;
    right: 0;
    bottom: -20px;
    z-index: 1;
    font-size: 14px;
    font-weight: 700;
    background: #FAF8F7;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.exchange-rate__image{
    position: relative;
    height: 250px;
    background-color: #FAF8F7;
    margin: 40px auto;
    width: 80%;
}
.exchange-rate__image img {
    position: absolute;
    width: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.exchange-rate__title{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

.exchange-rate__text{
    text-align: center;
    font-size: 14px;
    width: 90%;
    margin: 25px auto;
    color: #BABABA;
}

.exchange-rate__information{
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    height: 70vh;
    width: 80%;
    margin: auto;
}

.exchange-rate__information__title-coins{
    margin: 10px 0;
    color: #F7931A;
}

.table__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    color: #B5B0AC;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin: 20px 0;
    
}

.exchange-rate__information__title-commissions{
    margin: 10px 0;
    color: #1A9AF7;
}

.table__item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.table__item span {
    color:#757575;
}

.table__row{
    width: 12px;
    height: 18px;
    margin: auto;
    display: inline-block;
    background: url('../images/middle_Vector.svg') no-repeat;
    background-size: cover;
}

.cons_values{
    background: #FFE9D4;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: calc(50% - 80px);
}

.commissions__values{
    background: #E7F5FF;
}

.hide{
    display: none;
}

.benefits__section{
    background: #201E1C;
    padding: 50px 0;
}

.benefits__title{
    color: white;
    text-align: center;
    margin: 5px auto;
}

.benefits__text{
    margin: 30px auto;
    text-align: center;
    color: #808080;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 152px;
    width: 80%;
    margin: 10px auto;
    background: #282623;
    padding: 20px;
}

.card img {
    height: 25px;
    width: 25px;
    margin: 10px 0;
}

.card__title{
    color: #FFFFFF;
    margin: 5px 0;
    width: 100%;
}

.card p {
    color: #808080;
    font-size: 14px;
}

.plans__hero{
    height: 380px;
    width: 100%;
    margin: auto;
    background: url('../images/movil_bitcoinbaby\ 1.png') no-repeat;
    background-size: cover;
}

.plans__hero h2 {
    text-align: center;
    padding-top: 55px;
    color: #FFFFFF;
}

.plans__title{
    margin-top: 80px;
    color: #201E1C;
    text-align: center;
}

.plans__text{
    text-align: center;
    margin-top: 20px;
    color: #757575;
}





.plans__card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 190px;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans__card h3 {
    margin: 15px 0;
}

.plans__card p {
    margin: 20px 0;
    color: #757575;
}

.plans__card button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: inherit;
    height: 48px;
    width: 150px;
    margin: auto;
    border: #F7931A 2px solid;
    border-radius: 5px;
}

.price{
    font-weight: 700;
    font-size: 52px;
}

.prices{
    position: relative;
    width: 30%;
    margin: auto;
}

.signo{
    position: absolute;
    color: #757575;
    left: 0;
}

.questions{
    padding: 40px 0;
}

.questions__title{
    text-align: center;
    width: 80%;
    margin: auto;
}

.questions__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px 15px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    background-color: #F7931A;
    color: white;
    height: 20vh;
}

footer ul {
    list-style: none;
}

.footer__logo img{
    margin-left: calc(28%);
}

.footer__logo p{
    text-align: center;
}







.gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
